<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Published Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |book|}}
      <tr>
        <td>{{book.title}}</td>
        <td>{{moment-format book.published "MM/DD/YYYY" allow-empty=true}}</td>
        <td>
          {{#link-to "book" book}}View{{/link-to}}
          | {{#link-to "bookEdit" book}}Edit{{/link-to}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{link-to "New" "bookNew" class="btn btn-primary"}}
