<form>
  <div class="form-group">
    <label for="title">Title</label>
    {{input type="text" class="form-control" name="title" value=fields.title}}
  </div>
  <button type="button" class="btn btn-primary" {{action "new"}}>
    Save
  </button>
  <button type="button" class="btn btn-warning" {{action "cancel"}}>
    Cancel
  </button>
</form>
